html,body, .capa {
    height: 100%;
}

body {
    /*background: url(../img/capa.png),
                url(../img/ruido.png),
    linear-gradient(50deg,#ff4169,#7c26f8); */
    background-attachment: fixed;
    font-family: Helvetica, Arial, Sans-serif;
}

.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url("../img/spotify.svg") no-repeat;
    background-size: contain;
    color: transparent;
}

nav.nav-transparente {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-brand {
    padding: 5px 15px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 15px 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9bf0e1;
}

/*Jumbotrom Spotify*/

.capa {
    display: table;
    width: 100%;
}

 .texto-capa {
     text-align: center;
     color: #fff;
     display: table-cell;
     vertical-align: middle;

 }

 /* BOTÕES */
 .btn-custom {
     color: #fff;
     border-radius: 500px;
     -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
     padding: 10px 35px;
     margin: 0px 15px;
     text-transform: uppercase;
     transition: background 0.4s, color 0.4s;
 }

 .btn-roxo {
     background: #7c25f8;
 }

 .btn-roxo:hover {
     background-color: #6207e3;
     color: #fff;
 }

 .btn-branco {
     border: 2px solid #fff;
 }

 .btn-branco:hover {
     background-color: #fff;
     color: #000;
 }

 /* SECTION SERVICOS */
 #servico {
    background-color: white;
}

 /* TIPOGRAFIA */
 h1 {
     font-size: 100px;
     font-weight: 900;
     letter-spacing: -0.06em;
}


